<div ng-controller="Ekom.Coupon">
  <table>
    <tr>
      <td valign="top">
        <label for="CouponCode">Coupon code:</label><br />
        <input type="text" name="CouponCode" ng-model="CouponCode" />
        <br />
        <label for="NumberAvailable">Number available:</label><br />
        <input type="number" name="NumberAvailable" ng-model="NumberAvailable" />
      </td>
      <td class="text-center" valign="top">
        <label class="text-center">Options</label><br />
        <div class="btn-group">
          <button class="btn btn-success" type="button" ng-click="Insert()">Add</button>
          <button class="btn btn-default" type="button" ng-click="Remove(Selected)">Remove</button>
        </div>
      </td>
      <td>
        <label class="text-right" for="txtRanges">Current Coupons:</label><br />
        <select size="10" name="txtCoupons" ng-model="Selected">
          <option ng-repeat="coupon in Coupons | orderBy:'CouponCode'" value="{{coupon.CouponCode}}">{{coupon.CouponCode }} ({{coupon.NumberAvailable}})</option>
        </select>
      </td>
    </tr>

  </table>
</div>
